@layer base, page;

body {
    padding: 1rem;
}

a {
    color: blue;
}
body > p.alert a {
    color: red;
}
@layer page {
    a {
        text-decoration: blue underline wavy 2px;
    }
}
@layer base {
    body > p.alert a {
        text-decoration: red underline 2px;
    }
}